$txtColor: #fff;
$backgroundColor: #4d5980;
$buttonColor: #263d80;

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto", "Montserrat", sans-serif;
	height: 100vh;
	background: linear-gradient(90deg, #2c59b8 40%, #2998c3 70%, #3a9ecd);
}

header {
	width: 100%;
	height: 50px;
	background: $backgroundColor;
	position: fixed;
	top: 0;
	z-index: 3;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	nav {
		height: 100%;
		.navLinks {
			display: flex;
			height: 100%;
			list-style-type: none;
			justify-content: center;
			align-items: center;
			.itemNav {
				padding: 10px;
				a {
					color: $txtColor;
					text-decoration: underline transparent;
					transition: 0.3s ease-in-out;
				}
				a:hover {
					text-decoration: underline $txtColor;
				}
			}
		}
	}
}

main {
	color: $txtColor;
	#accueil {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		background: url("/images/5651981.jpg");
		background-position: center top;
		background-size: cover;
		margin: 50px 0;

		.accueilBox {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			width: 100%;
			height: 20%;
			margin-bottom: 200px;
			h1 {
				font-family: "Montserrat", "Roboto", sans-serif;
				color: #030242;
				font-size: clamp(24px, 5vw, 48px);
			}
			h2 {
				font-family: "Montserrat", "Roboto", sans-serif;
				color: #4d5980;
				font-size: clamp(18px, 3vw, 36px);
			}
		}
		.btnAccueilBox {
			display: flex;
			margin-top: 10px;
			font-size: clamp(12px, 3vw, 20px);
			a {
				color: #fff;
				text-decoration: none;
				border-radius: 5px;
				margin: 0 10px;
				padding: 10px;
				background-color: $buttonColor;
				transition: 0.3s ease-in-out;
			}
			a:hover {
				background: #131e40;
			}
		}
	}
	#projets {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 50px;
		.sliderTitle {
			font-family: "Montserrat", "Roboto", sans-serif;
			margin-bottom: 25px;
			text-align: center;
		}
		.slideShow {
			display: flex;
			justify-content: center;
			width: 100%;
			max-height: 750px;
			figure {
				position: relative;
				width: 100%;
				max-width: 1550px;
				transition: 0.3s ease-in-out;
			}
			figure:hover {
				transform: scale(1.01);
			}
			img {
				width: 100%;
				height: auto;
				min-height: 300px;
				max-height: 100%;
				object-fit: cover;
				border-radius: 5px;
			}
			figure:hover img {
				opacity: 0.8;
			}
			figcaption {
				position: absolute;
				bottom: 0px;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.7);
				padding: 10px;
				border-radius: 5px;
				font-size: clamp(8px, 2vw, 18px);
			}
			.button {
				background-color: rgba(0, 0, 0, 0.7);
				color: $txtColor;
				cursor: pointer;
				position: absolute;
				top: 50%;
				z-index: 1;
				padding: 10px;
			}
			#btn {
				left: 0;
			}
			#btn2 {
				right: 0px;
			}
			#btn3 {
				left: 50%;
				top: unset;
				bottom: calc(0% + 40px);
				transform: translateX(-25%);
			}
		}
	}
	#a-propos {
		min-width: 100%;
		min-height: 200px;
		display: flex;
		justify-content: center;
		margin: 50px 0;
		h2 {
			font-family: "Montserrat", "Roboto", sans-serif;
		}
		.a-proposContentBox {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			width: 50%;
			border-radius: 5px;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
			color: #fff;
			background: $backgroundColor;
			text-align: center;
			p {
				text-align: center;
				padding: 10px;
				a {
					color: $txtColor;
					font-weight: bold;
					text-decoration: underline;
				}
			}
			.pauseBtn,
			.resetBtn {
				width: 50px;
				height: 50px;
				font-weight: bold;
				background: #131e40;
				color: $txtColor;
				cursor: pointer;
			}
		}
	}
	#contact {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 50px 0;
		h2 {
			font-family: "Montserrat", "Roboto", sans-serif;
		}
		form {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			flex-wrap: wrap;
			border-radius: 5px;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
			min-width: 20vw;
			background: $backgroundColor;
			margin-top: 20px;
			padding: 20px;
			label {
				margin-bottom: 10px;
			}
			input,
			textarea {
				padding: 10px;
				margin-bottom: 10px;
				border-radius: 5px;
				border: none;
				width: 100%;
				font-size: 1.2em;
				transition: 0.3s ease-in-out;
				resize: none;
			}
			input[type="submit"] {
				background-color: $buttonColor;
				color: $txtColor;
				cursor: pointer;
			}
			input[type="submit"]:hover {
				background-color: #131e40;
			}
		}
	}
}

footer {
	background-color: $backgroundColor;
	color: $txtColor;
	text-align: center;
	padding: 20px;
	height: 58px;
	font-size: 14px;
}
