*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', 'Montserrat', sans-serif;
	height: 100vh;
	background: linear-gradient(90deg, #4d79ff, #4dc3ff, #80d4ff);
}

header {
	width: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	background: #4d5980;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	font-size: 1.8em;
	height: 50px;
	z-index: 9999;
	top: 0;
}

nav {
	width: 100%;
}

.navLinks {
	display: flex;
	justify-content: center;
	list-style: none;
	color: #fff;
	font-size: clamp(0.2em, 5vw, 0.9em);
}

.navLinks a {
	text-decoration: none;
	color: inherit;
	transition: text-decoration 0.3s;
}

.navLinks a:hover {
	text-decoration: underline;
}

.itemNav {
	margin: 0 10px;
}

hr {
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
}

main #accueil {
	width: 100%;
	background-image: url("/images/moroccan-flower-dark.webp");
	margin-top: 50px;
	text-align: center;
	height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section {
	margin-bottom: 50px;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 2.2em;
	color: #4d5980;
	margin-bottom: 20px;
}

section h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

p {
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	color: #444;
	line-height: 1.5;
	margin-bottom: 10px;
}

section p {
	font-size: clamp(0.8em, 2.5vw, 1.2em);
	color: #444;
}

section ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

section li {
	margin-bottom: 20px;
}

section li h3 {
	font-size: 20px;
	margin-bottom: 10px;
}

section li p {
	margin-bottom: 10px;
}

section li a {
	display: inline-block;
	background-color: #263d80;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	transition: 0.3s;
}

section li a:hover {
	background-color: #131e40;
}

#a-propos {
	width: 100%;
	min-height: 30vh;
	display: flex;
	justify-content: center;
	transform: translateX(-76%);
	animation: boxAPropos ease-in-out 3.5s forwards;
}

.pauseBtn,
.resetBtn {
	width: 50px;
	height: 50px;
	font-weight: bold;
	background: #131e40;
	color: #fff;
	cursor: pointer;
}

@keyframes boxAPropos {
	from {
		transform: translateX(-76%);
	}
	to {
		transform: translateX(0);
	}
}

.a-proposContentBox {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 50%;
	border-radius: 5px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	background: #4d5980;
	text-align: center;
}

.a-proposContentBox p {
	color: #fff;
	text-align: center;
	padding: 10px;
}

.a-proposContentBox p a {
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}

#contact {
	display: flex;
	align-items: center;
	flex-direction: column;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	min-width: 20vw;
	max-width: 80vw;
	min-height: 30vh;
	max-height: 75vh;
	background: #4d5980;
	margin-top: 20px;
	padding: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
}

form input,
form textarea {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
	width: 100%;
	font-size: 1.2em;
}

form input[type="submit"] {
	background-color: #263d80;
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 1.2em;
}

form input[type="submit"]:hover {
	background-color: #131e40;
}

footer {
	background-color: #4d5980;
	color: #fff;
	text-align: center;
	padding: 20px;
	height: 58px;
}

footer p {
	margin: 0;
	font-size: 14px;
}