/* Styles pour le bouton d'ouverture du popup */
#ouvrir-popup {
	position: fixed;
	bottom: 0;
	right: 20px;
}

/* Styles pour le bouton */
#ouvrir-popup,
.changeBtn {
	width: clamp(48px, 35%, 200px);
	font-size: 1.5em;
	border-radius: 5px;
	border: none;
	box-shadow: 0 5px 10px #000;
	background: #263d80;
	color: #fff;
	height: 70px;
	cursor: pointer;
	transition: 0.3s;
}

/* Styles pour le bouton lorsque l'utilisateur clique dessus */
#ouvrir-popup:active,
.changeBtn:active {
	box-shadow: 0 3px 7px #000;
}

/*/ Style pour le bouton au hover */

#ouvrir-popup:hover,
.changeBtn:hover {
	background-color: #131e40;
}

/* Styles pour le bouton de changement de ville */
.changeBtn {
	width: 60%;
}
/* Styles pour le conteneur du popup */
.popup-container {
	background: #4d5980;
	position: fixed;
	bottom: 70px;
	right: 20px;
	width: clamp(250px, 50%, 450px);
	height: 50vh;
	border-radius: 5px;
	display: none;
	padding: 20px;
	text-align: center;
	box-shadow: 0px 5px 10px;
}

/* Styles pour l'affichage du popup */
.open {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
/* Styles pour le titre principal */
.meteoTitle {
	color: #fff;
	font-size: clamp(48px, 10vw, 84px);
}

/* Styles pour les paragraphes et sous-titres */
p {
	color: #fff;
	font-size: clamp(1.5em, 4.5vw, 2.4em);
}

/* Styles pour les étiquettes de formulaire */
label {
	color: #fff;
}

/* Styles pour le conteneur des champs de formulaire */
.inputFlex {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(10px, 2vw, 24px);
	width: 100%;
}

/* Styles pour les champs de formulaire de type texte */
input[type="text"] {
	height: 35px;
	color: #222222d5;
	padding: 3px;
	border-radius: 5px;

	margin-bottom: 10px;
	margin-left: 10px;
	border: none;
	transition: 0.5s;
}

/* Styles pour les champs de formulaire de type texte lorsqu'ils sont sélectionnés */
input:focus[type="text"] {
	outline: none;
	color: #000;
	box-shadow: 0 3px 7px #000;
}

/* styles des icones */
.icon img {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background-size: contain;
	background-repeat: no-repeat;
}
